.Radio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label > * {
  display: inline;
}

.requiredStar {
  font-size: 24px;
  font-weight: 600;
  color: var(--brand-red-color);
  display: inline;
  margin-left: 8px;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper {
  position: relative;
  width: fit-content;
}

.radioItem {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-color);
    width: fit-content;

    &::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1.5px solid var(--gray-color);
      border-radius: 50%;
      margin-right: 16px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &:not(:disabled) {
    &:not(:checked) + label:hover {
      color: var(--main-color);

      &::before {
        border-color: var(--main-color);
      }
    }

    &:active + label {
      color: var(--main-color);
      &::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
      }
    }
  }

  &:focus {
    & + label::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:not(:checked) + label::before {
      border-color: #80bdff;
    }
  }

  &:checked + label {
    color: var(--main-color);
    &::before {
      border-color: var(--button-hover-color);
      background-color: transparent;
      background-size: 16px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='8' fill='%231e71de'/%3e%3c/svg%3e");
    }
  }

  &:disabled + label::before {
    background-color: #e9ecef;
  }
}
