@import "../../../../styles/colors.scss";

.message {
  position: relative;
  width: 400px;
  min-height: 200px;

  background-color: $white-color;
  border-radius: 30px;
  padding: 36px;
  box-sizing: border-box;
}
