@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.text {
  font-size: $font-xxl;
  font-family: "Bold", serif;
  color: $brand-blue-color;
  line-height: 100%;
  @include no-select;
}

.dot {
  color: $brand-red-color;
}

.textMini {
  font-size: x-small;
}
