.wrapper {
  display: flex;
  margin-top: 20px;
}

.formInput {
  width: 100%;
  display: flex;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  border-bottom: #BFCBD1 solid 1px;
  padding: 0;
  margin: 0 10px;
  //padding-top: 10px;
  outline: none;
  transition: all 0.3s;
  background-color: var(--white-color);

  & :-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }

  &:focus {
    color: var(--main-color);
    border: none;
    border-bottom: var(--button-hover-color) solid 1.5px;

    &::-webkit-input-placeholder {
      color: var(--main-color);
    }
  }
}

.addButton {
  margin-top: 20px;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-color);

  &:hover {
    cursor: pointer;
    border-bottom: #BFCBD1 solid 1px;
  }
}

.removeIcon {
  &:hover {
    cursor: pointer;
  }
}