// colors
$primary-background-color: var(--primary-background-color);
$secondary-background-color: var(--secondary-background-color);

$white-color: var(--white-color);
$light-gray-color: var(--light-gray-color);
$secondary-gray-color: var(--secondary-gray-color);
$gray-color: var(--gray-color);
$brand-red-color: var(--brand-red-color);
$brand-blue-color: var(--brand-blue-color);
$main-color: var(--main-color);
$sucess-color: var(--sucess-color);
$warning-color: var(--warning-color);
$button-color: var(--button-color);
$button-hover-color: var(--button-hover-color);
$burger-hover-color: var(--burger-hover-color);
$arrow-hover-color: var(--arrow-hover-color);

$yellow-color: var(--yellow-color);
$primary-gray: var(--primary-gray);
