// font sizes
$font-xs: 0.775em; // 14px
$font-sm: 0.9em; // 16px
$font-md: 1em; // 18px
$font-lg: 1.1em; // 20px
$font-xl: 1.2em; // 24px
$font-xxl: 1.5em; // 30px
$font-xxxl: 2em; // 40px

$navigation_width: 280px;
